<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="{{@blog.description}}">
        <meta name="author" content="{{@blog.title}}">

        <link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css' }}" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset 'img/favicon.ico' }}">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {{#if post}}
            {{#post}}
                <title>{{title}} | {{@blog.title}}</title>
            {{/post}}
        {{else}}
            <title>{{@blog.title}}</title>
        {{/if}}

        {{ghost_head}}
    </head>

    <body class="{{body_class}}">
        <div class="wrapper">
        {{! Menu }}
        {{#if post}}
            <nav class="nav fixed">
        {{else}}

            <nav class="nav">
        {{/if}}

                <a style="border:none;" id="logo" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
                <ul class="nav-primary">
                    <li>
                        <a class="rss-link" href="{{ @blog.url }}/rss">
                            <i class="fa fa-rss fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            {{{body}}}

            <footer class="footer">
                <div class="back-to-top"><a href="">Back to top</a></div>
                <!-- <div class="footer-nav"><p></p></div> -->
                <div class="psi">&Psi;</div>
                <aside class="offsite-links">
                    <a class="rss-link" href="{{ @blog.url }}/rss">
                        <i class="fa fa-rss fa-2x"></i>
                    </a>
                </aside>
            </footer>
        </div> {{! End of wrapper }}

        {{! Scripts }}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset 'js/fittext.js' }}"></script>
        <script type="text/javascript" src="{{ asset 'js/app.js' }}"></script>
        <script type="text/javascript" src="{{ asset 'js/respond.min.js' }}"></script>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
    </body>
</html>
